<a class="navbar-brand" href="/#/">K-Mart</a>

<form class="navbar-form navbar-right">
    <span ng-show="!displayLogin">Hello <span ng-click="toProfile()" class="angular-link">{{ user }}</span></span>
    <span ng-show="!displayLogin" ng-click="toAddProduct()" class="angular-link">Add Product</span>
    <button ng-show="displayLogin"ng-click="toLogin()" type="button" class="btn btn-primary">Login</button>
    <button ng-show="displayLogin" ng-click="toRegister()" type="button" class="btn btn-default">Register</button>
    <button ng-show="!displayLogin" ng-click="localLogout()" type="button" class="btn btn-default">Logout</button>
    <!-- <button ng-show="!displayLogin" ng-click="secret()" type="button" class="btn btn-default">TestAuth</button> -->    
</form>